<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <div class="container">
            <%- include('./partials/navbar') %>
        </div>
    </header>
    <main>
        <div class="container mt-3">
            <h1>Update Employee</h1>
            <form action="/employee/edit/<%= employee._id %>" method="post">
                <div class="mb-3" style="width: 600px;">
                    <label for="name" class="form-label">Enter Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= employee.name %>" required>
                </div>
                <div class="mb-3" style="width: 600px;">
                    <label for="age" class="form-label">Enter Age:</label>
                    <input type="number" class="form-control" id="age" name="age" value="<%= employee.age %>" required>
                </div>
                <div class="mb-3" style="width: 600px;">
                    <label for="country" class="form-label">Enter Country:</label>
                    <input type="text" class="form-control" id="country" name="country" value="<%= employee.country %>" required>
                </div>
                <div class="mb-3" style="width: 600px;">
                    <label for="position" class="form-label">Enter Position:</label>
                    <input type="text" class="form-control" id="position" name="position" value="<%= employee.position %>" required>
                </div>
                <div class="mb-3" style="width: 600px;">
                    <label for="wage" class="form-label">Enter Wage:</label>
                    <input type="number" class="form-control" id="wage" name="wage" value="<%= employee.wage %>" required>
                </div>
                <button type="submit" class="btn btn-success btn-lg">Update</button>
            </form>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>